<?xml version="1.0" encoding="UTF-8"?><CristalModule ns="kernel" name="cristal-ise kernel">
  <Info>
    <Version>0</Version>
  </Info>
  <Imports>
    <SchemaResource name="SimpleElectonicSignature" version="0"/>
    <SchemaResource name="SystemProperties" version="0"/>
    <SchemaResource name="LoggerConfig" version="0"/>
    <SchemaResource name="ModuleChanges" version="0"/>
    <SchemaResource name="AgentDesc" version="0"/>
  </Imports>
</CristalModule>
