<?xml version="1.0" encoding="UTF-8"?><CristalModule ns="testns" name="DSL Test">
  <Info>
    <Description>DSL Test CRISTAL-iSE module</Description>
    <Version>0</Version>
  </Info>
  <ResourceURL>org.cristalise.test/resources/</ResourceURL>
  <Config name="Module.debug">true</Config>
  <Imports>
    <Role name="Admin" jobList="false">
      <Permission>*</Permission>
    </Role>
    <Agent name="TestAdmin" password="test" initialPath="/testns/Agents">
      <Role name="Admin"/>
      <Property name="Name" mutable="true">TestAdmin</Property>
      <Property name="Type" mutable="true">Agent</Property>
    </Agent>
    <SchemaResource name="Factory_NewInstanceDetails" version="0"/>
    <ScriptResource name="Factory_InstantiateItem" version="0"/>
    <ScriptResource name="Entity_ChangeName" version="0"/>
    <Activity name="Factory_CreateItem" version="0">
      <Schema name="Factory_NewInstanceDetails" version="0"/>
      <Script name="Factory_InstantiateItem" version="0"/>
    </Activity>
    <Workflow name="Factory_Workflow" version="0">
      <Activity name="Factory_CreateItem" version="0"/>
    </Workflow>
    <Activity name="State_Activate" version="0"/>
    <Activity name="State_Deactivate" version="0"/>
    <Workflow name="State_Manage" version="0">
      <Activity name="State_Activate" version="0"/>
      <Activity name="State_Deactivate" version="0"/>
    </Workflow>
    <SchemaResource name="TestItem" version="0"/>
    <SchemaResource name="TestItem_Details" version="0"/>
    <Activity name="TestItem_Update" version="0">
      <Schema name="TestItem_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestItem_Aggregate" version="0"/>
    <ScriptResource name="TestItem_QueryList" version="0"/>
    <Activity name="TestItem_Aggregate" version="0">
      <Schema name="TestItem" version="0"/>
      <Script name="TestItem_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestItem_Workflow" version="0">
      <Activity name="TestItem_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestItem" version="0"/>
    <Item name="TestItemFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestItems</Property>
      <Property name="UpdateSchema" mutable="false">TestItem_Details:0</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestItem.xml</Outcome>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestItem_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItem">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestItem_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
    <SchemaResource name="TestItemUseConstructor" version="0"/>
    <SchemaResource name="TestItemUseConstructor_Details" version="0"/>
    <Activity name="TestItemUseConstructor_Update" version="0">
      <Schema name="TestItemUseConstructor_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestItemUseConstructor_Aggregate" version="0"/>
    <ScriptResource name="TestItemUseConstructor_QueryList" version="0"/>
    <Activity name="TestItemUseConstructor_Aggregate" version="0">
      <Schema name="TestItemUseConstructor" version="0"/>
      <Script name="TestItemUseConstructor_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestItemUseConstructor_Workflow" version="0">
      <Activity name="TestItemUseConstructor_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestItemUseConstructor" version="0"/>
    <Item name="TestItemUseConstructorFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestItemUseConstructors</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestItemUseConstructor.xml</Outcome>
      <Dependency name="SchemaInitialise" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItemUseConstructor_Details">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestItemUseConstructor_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItemUseConstructor">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestItemUseConstructor_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
    <SchemaResource name="TestAgentUseConstructor" version="0"/>
    <SchemaResource name="TestAgentUseConstructor_Details" version="0"/>
    <Activity name="TestAgentUseConstructor_Update" version="0">
      <Schema name="TestAgentUseConstructor_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestAgentUseConstructor_Aggregate" version="0"/>
    <ScriptResource name="TestAgentUseConstructor_QueryList" version="0"/>
    <Activity name="TestAgentUseConstructor_Aggregate" version="0">
      <Schema name="TestAgentUseConstructor" version="0"/>
      <Script name="TestAgentUseConstructor_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestAgentUseConstructor_Workflow" version="0">
      <Activity name="TestAgentUseConstructor_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestAgentUseConstructor" version="0"/>
    <Item name="TestAgentUseConstructorFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestAgentUseConstructors</Property>
      <Property name="CreateAgent" mutable="false">true</Property>
      <Property name="DefaultRoles" mutable="true">Admin</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestAgentUseConstructor.xml</Outcome>
      <Dependency name="SchemaInitialise" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestAgentUseConstructor_Details">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestAgentUseConstructor_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestAgentUseConstructor">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestAgentUseConstructor_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
    <SchemaResource name="TestAgent" version="0"/>
    <SchemaResource name="TestAgent_Details" version="0"/>
    <Activity name="TestAgent_Update" version="0">
      <Schema name="TestAgent_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestAgent_Aggregate" version="0"/>
    <ScriptResource name="TestAgent_QueryList" version="0"/>
    <Activity name="TestAgent_Aggregate" version="0">
      <Schema name="TestAgent" version="0"/>
      <Script name="TestAgent_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestAgent_Workflow" version="0">
      <Activity name="TestAgent_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestAgent" version="0"/>
    <Item name="TestAgentFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestAgents</Property>
      <Property name="CreateAgent" mutable="false">true</Property>
      <Property name="DefaultRoles" mutable="true">Admin</Property>
      <Property name="UpdateSchema" mutable="false">TestAgent_Details:0</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestAgent.xml</Outcome>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestAgent_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestAgent">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestAgent_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
    <SchemaResource name="TestItemGeneratedName" version="0"/>
    <SchemaResource name="TestItemGeneratedName_Details" version="0"/>
    <Activity name="TestItemGeneratedName_Update" version="0">
      <Schema name="TestItemGeneratedName_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestItemGeneratedName_Aggregate" version="0"/>
    <ScriptResource name="TestItemGeneratedName_QueryList" version="0"/>
    <Activity name="TestItemGeneratedName_Aggregate" version="0">
      <Schema name="TestItemGeneratedName" version="0"/>
      <Script name="TestItemGeneratedName_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestItemGeneratedName_Workflow" version="0">
      <Activity name="TestItemGeneratedName_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestItemGeneratedName" version="0"/>
    <Item name="TestItemGeneratedNameFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestItemGeneratedNames</Property>
      <Property name="IDPrefix" mutable="false">ID</Property>
      <Property name="LeftPadSize" mutable="true">6</Property>
      <Property name="UpdateSchema" mutable="false">TestItemGeneratedName_Details:0</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestItemGeneratedName.xml</Outcome>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestItemGeneratedName_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItemGeneratedName">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestItemGeneratedName_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
    <SchemaResource name="TestItemUseConstructorGeneratedName" version="0"/>
    <SchemaResource name="TestItemUseConstructorGeneratedName_Details" version="0"/>
    <Activity name="TestItemUseConstructorGeneratedName_Update" version="0">
      <Schema name="TestItemUseConstructorGeneratedName_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestItemUseConstructorGeneratedName_Aggregate" version="0"/>
    <ScriptResource name="TestItemUseConstructorGeneratedName_QueryList" version="0"/>
    <Activity name="TestItemUseConstructorGeneratedName_Aggregate" version="0">
      <Schema name="TestItemUseConstructorGeneratedName" version="0"/>
      <Script name="TestItemUseConstructorGeneratedName_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestItemUseConstructorGeneratedName_Workflow" version="0">
      <Activity name="TestItemUseConstructorGeneratedName_Update" version="0"/>
      <Activity name="State_Manage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestItemUseConstructorGeneratedName" version="0"/>
    <Item name="TestItemUseConstructorGeneratedNameFactory" initialPath="/testns" workflow="Factory_Workflow" workflowVer="0">
      <Property name="Type" mutable="false">Factory</Property>
      <Property name="Root" mutable="false">testns/TestItemUseConstructorGeneratedNames</Property>
      <Property name="IDPrefix" mutable="false">ID</Property>
      <Property name="LeftPadSize" mutable="true">6</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestItemUseConstructorGeneratedName.xml</Outcome>
      <Dependency name="SchemaInitialise" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItemUseConstructorGeneratedName_Details">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="workflow" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestItemUseConstructorGeneratedName_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="MasterSchema" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Schema/testns/TestItemUseConstructorGeneratedName">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
      <Dependency name="AggregateScript" isDescription="false" classProps="">
        <DependencyMember itemPath="/desc/Script/testns/TestItemUseConstructorGeneratedName_Aggregate">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
  </Imports>
</CristalModule>
