<?xml version="1.0" encoding="UTF-8"?><CristalModule ns="testns" name="DSL Test">
  <Info>
    <Description>DSL Test CRISTAL-iSE module</Description>
    <Version>0</Version>
  </Info>
  <ResourceURL>org.cristalise.test/resources/</ResourceURL>
  <Config name="Module.debug">true</Config>
  <Imports>
    <Activity name="State_Activate" version="0"/>
    <Activity name="State_Deactivate" version="0"/>
    <Workflow name="State_Manage" version="0">
      <Activity name="State_Activate" version="0"/>
      <Activity name="State_Deactivate" version="0"/>
    </Workflow>
    <SchemaResource name="TestItem" version="0"/>
    <SchemaResource name="TestItem_Details" version="0"/>
    <Activity name="TestItem_Update" version="0">
      <Schema name="TestItem_Details" version="0"/>
    </Activity>
    <ScriptResource name="TestItem_Aggregate" version="0"/>
    <ScriptResource name="TestItem_QueryList" version="0"/>
    <Activity name="TestItem_Aggregate" version="0">
      <Schema name="TestItem" version="0"/>
      <Script name="TestItem_Aggregate" version="0"/>
    </Activity>
    <Workflow name="TestItem_Workflow" version="0">
      <Activity name="TestItem_Update" version="0"/>
      <Activity name="StateManage" version="0"/>
    </Workflow>
    <PropertyDescriptionResource name="TestItem" version="0"/>
    <Item name="TestItemFactory" initialPath="/" workflow="TestItemFactory_Workflow">
      <Property name="Type" mutable="true">Factory</Property>
      <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/TestItem.xml</Outcome>
      <Dependency name="workflow'" isDescription="false">
        <DependencyMember itemPath="/desc/ActivityDesc/testns/TestItem_Workflow">
          <MemberProperties>
            <KeyValuePair Key="Version" isAbstract="false" Integer="0"/>
          </MemberProperties>
        </DependencyMember>
        <CollectionProperties/>
      </Dependency>
    </Item>
  </Imports>
</CristalModule>
