<?xml version="1.0" encoding="UTF-8"?><CristalModule ns="integTest" name="IntegrationTest">
  <Info>
    <Description>CRISTAL-iSE Items for testing</Description>
    <Version>0</Version>
  </Info>
  <ResourceURL>org/cristalise/testing/resources/</ResourceURL>
  <Imports>
    <PropertyDescriptionResource name="Patient" version="0"/>
    <SchemaResource name="Patient_Details" version="0"/>
    <Activity name="Patient_SetDetails" version="0">
      <Schema name="Patient_Details" version="0"/>
    </Activity>
    <SchemaResource name="Patient_UrinSample" version="0"/>
    <Activity name="Patient_SetUrinSample" version="0">
      <Schema name="Patient_UrinSample" version="0"/>
    </Activity>
    <SchemaResource name="Patient" version="0"/>
    <ScriptResource name="Patient_Aggregate" version="0"/>
    <Workflow name="Patient_Workflow" version="0">
      <Activity name="Patient_SetUrinSample" version="0" id="0bd91a29-87c6-4e7a-a9ca-eda8f4e51ed9"/>
      <Activity name="Patient_SetDetails" version="0" id="85dc253b-7e14-4f6e-a755-e4d08bb697a6"/>
    </Workflow>
    <ItemResource name="PatientFactory" version="0"/>
    <PropertyDescriptionResource name="Doctor" version="0"/>
    <SchemaResource name="Doctor_Patient" version="0"/>
    <ScriptResource name="Doctor_AddPatient" version="0"/>
    <Activity name="Doctor_AddPatient" version="0">
      <Schema name="Doctor_Patient" version="0"/>
      <Script name="Doctor_AddPatient" version="0"/>
    </Activity>
    <Workflow name="Doctor_Workflow" version="0">
      <Activity name="Doctor_AddPatient" version="0" id="e0b428e4-8a28-4915-8118-8316ca63f572"/>
    </Workflow>
    <ItemResource name="DoctorFactory" version="0"/>
  </Imports>
</CristalModule>
