<ResourceChangeDetails>
  <ResourceName>@{resourceName}</ResourceName>
  <ResourceVersion>@{resourceVersion}</ResourceVersion>
  <SchemaName>@{schemaName}</SchemaName>
  <ChangeType>@{changeType}</ChangeType>
</ResourceChangeDetails>