{
  "Group": [
    {
      "Button": [
        {
          "label": "Add",
          "icon": "fa-plus",
          "iconColor": "icon-green",
          "activityName": "AddTo@{currentDependency.name}",
          "actsOnSelected": false
        },
        {
          "label": "Remove",
          "icon": "fa-times",
          "iconColor": "icon-red",
          "activityName": "RemoveFrom@{currentDependency.name}",
          "actsOnSelected": true
        }
      ]
    }
  ]
}
