{
  "column": [
    {
      "source" : "itemField",
      "field": "Name",
      "caption": "Name",
      "align": "left",
      "width": 100
    },
    {
      "source" : "itemField",
      "field": "State",
      "caption": "State",
      "align": "left",
      "width": 100
    },
@if{item.fields != null && item.fields.size() != 0}
  @foreach{field : item.fields.values()}
    {
      "source" : "itemField",
      "field": "@{field.name}",
      "caption": "@{field.label}",
      "align": "left",
      "width": 100
    }
  @end{','}
@else{}
    {
      "source" : "itemField",
      "field": "Description",
      "caption": "Description",
      "align": "left",
      "width": 100
    }
@end{}
  ],
  "sort": {
    "field": "Name",
    "order": "asc"
  }
}
