Workflow(name: '@{item.name}_Manage@{currentDependency.name}', version: @{version}) {
    Layout {
        AndSplit {
            LoopInfinitive {
                ElemActDef('AddTo@{currentDependency.name}', 'CrudEntity_ChangeDependecy', @{version}) {
                    Property((PREDEFINED_STEP): 'AddMembersToCollection')
                    Property((DEPENDENCY_NAME): '@{currentDependency.name}')
                    Property((DEPENDENCY_TO): '@{currentDependency.to}')
                    Property((DEPENDENCY_TYPE): '@{currentDependency.type}')
                    Property(ActivityDefName: 'CrudEntity_ChangeDependecy')
                    Property(ModuleNameSpace: '@{moduleNs}')
                }
            }
            LoopInfinitive {
                ElemActDef('RemoveFrom@{currentDependency.name}', 'CrudEntity_ChangeDependecy', @{version}) {
                    Property((PREDEFINED_STEP): 'RemoveSlotFromCollection')
                    Property((DEPENDENCY_NAME): '@{currentDependency.name}')
                    Property((DEPENDENCY_TO): '@{currentDependency.to}')
                    Property((DEPENDENCY_TYPE): '@{currentDependency.type}')
                    Property(ModuleNameSpace: '@{moduleNs}')
                    Property(ActivityDefName: 'CrudEntity_ChangeDependecy')
                }
            }
        }
    }
}
