{
  "itemType": "@{item.name}",
  "domain": "/@{moduleNs}/Sites",
  "factory": "/@{moduleNs}/@{item.name}Factory",
  "lowSing": "@{item.lowSing}",
  "lowPlur": "@{item.lowPlur}",
  "upSing": "@{item.upSing}",
  "upPlur": "@{item.upPlur}"
}