<CompositeActivityDef ID="-1" Name="@{item}Workflow" Height="0" Width="0" IsLayoutable="false" IsComposite="true">
    <childrenGraphModel>
        <GraphModelCastorData StartVertexId="11" NextId="15">
            <ActivitySlotDef ID="5" Name="@{item}_Update" Height="60" Width="130" IsLayoutable="true" IsComposite="false">
                <CentrePoint x="99" y="176" />
                <OutlinePoint x="34" y="146" />
                <OutlinePoint x="164" y="146" />
                <OutlinePoint x="164" y="206" />
                <OutlinePoint x="34" y="206" />
                <InEdgeId>6</InEdgeId>
                <OutEdgeId>7</OutEdgeId>
                <Properties>
                    <KeyValuePair Key="Version" isAbstract="false" Integer="0" />
                    <KeyValuePair Key="Name" isAbstract="false" String="Update" />
                    <KeyValuePair Key="Agent Role" isAbstract="false" String="" />
                </Properties>
                <activityDef>@{item}_Update</activityDef>
            </ActivitySlotDef>
            <LoopDef ID="2" Name="" Height="24" Width="60" IsLayoutable="true" IsComposite="false" isNext="0">
                <CentrePoint x="173" y="238" />
                <OutlinePoint x="143" y="226" />
                <OutlinePoint x="203" y="226" />
                <OutlinePoint x="203" y="250" />
                <OutlinePoint x="143" y="250" />
                <InEdgeId>7</InEdgeId>
                <OutEdgeId>8</OutEdgeId>
                <OutEdgeId>9</OutEdgeId>
                <Properties>
                    <KeyValuePair Key="RoutingExpr" isAbstract="false" String="" />
                    <KeyValuePair Key="RoutingScriptVersion" isAbstract="false" String="" />
                    <KeyValuePair Key="LastNum" isAbstract="false" String="2" />
                    <KeyValuePair Key="RoutingScriptName" isAbstract="false" String="javascript:true;" />
                </Properties>
            </LoopDef>
            <AndSplitDef ID="11" Name="" Height="24" Width="60" IsLayoutable="true" IsComposite="false">
                <CentrePoint x="221" y="63" />
                <OutlinePoint x="191" y="51" />
                <OutlinePoint x="251" y="51" />
                <OutlinePoint x="251" y="75" />
                <OutlinePoint x="191" y="75" />
                <OutEdgeId>12</OutEdgeId>
                <OutEdgeId>13</OutEdgeId>
                <Properties>
                    <KeyValuePair Key="RoutingExpr" isAbstract="false" String="" />
                    <KeyValuePair Key="RoutingScriptVersion" isAbstract="false" String="" />
                    <KeyValuePair Key="RoutingScriptName" isAbstract="false" String="" />
                </Properties>
            </AndSplitDef>
            <JoinDef ID="1" Name="" Height="24" Width="60" IsLayoutable="true" IsComposite="false">
                <CentrePoint x="229" y="286" />
                <OutlinePoint x="199" y="274" />
                <OutlinePoint x="259" y="274" />
                <OutlinePoint x="259" y="298" />
                <OutlinePoint x="199" y="298" />
                <InEdgeId>9</InEdgeId>
                <InEdgeId>14</InEdgeId>
                <Properties>
                    <KeyValuePair Key="Type" isAbstract="false" String="Join" />
                </Properties>
            </JoinDef>
            <ActivitySlotDef ID="10" Name="CrudState_Manage" Height="60" Width="130" IsLayoutable="true" IsComposite="true">
                <CentrePoint x="278" y="175" />
                <OutlinePoint x="213" y="145" />
                <OutlinePoint x="343" y="145" />
                <OutlinePoint x="343" y="205" />
                <OutlinePoint x="213" y="205" />
                <InEdgeId>13</InEdgeId>
                <OutEdgeId>14</OutEdgeId>
                <Properties>
                    <KeyValuePair Key="Version" isAbstract="false" Integer="0" />
                    <KeyValuePair Key="Name" isAbstract="false" String="CrudState_Manage" />
                </Properties>
                <activityDef>CrudState_Manage</activityDef>
            </ActivitySlotDef>
            <JoinDef ID="0" Name="" Height="24" Width="60" IsLayoutable="true" IsComposite="false">
                <CentrePoint x="173" y="113" />
                <OutlinePoint x="143" y="101" />
                <OutlinePoint x="203" y="101" />
                <OutlinePoint x="203" y="125" />
                <OutlinePoint x="143" y="125" />
                <InEdgeId>8</InEdgeId>
                <InEdgeId>12</InEdgeId>
                <OutEdgeId>6</OutEdgeId>
                <Properties>
                    <KeyValuePair Key="Type" isAbstract="false" String="Join" />
                </Properties>
            </JoinDef>
            <NextDef ID="6" OriginVertexId="0" TerminusVertexId="5">
                <OriginPoint x="173" y="113" />
                <TerminusPoint x="99" y="176" />
                <Properties />
            </NextDef>
            <NextDef ID="14" OriginVertexId="10" TerminusVertexId="1">
                <OriginPoint x="278" y="175" />
                <TerminusPoint x="229" y="286" />
                <Properties />
            </NextDef>
            <NextDef ID="13" OriginVertexId="11" TerminusVertexId="10">
                <OriginPoint x="221" y="63" />
                <TerminusPoint x="278" y="175" />
                <Properties />
            </NextDef>
            <NextDef ID="12" OriginVertexId="11" TerminusVertexId="0">
                <OriginPoint x="221" y="63" />
                <TerminusPoint x="173" y="113" />
                <Properties />
            </NextDef>
            <NextDef ID="9" OriginVertexId="2" TerminusVertexId="1">
                <OriginPoint x="173" y="238" />
                <TerminusPoint x="229" y="286" />
                <Properties>
                    <KeyValuePair Key="Alias" isAbstract="false" String="false" />
                </Properties>
            </NextDef>
            <NextDef ID="8" OriginVertexId="2" TerminusVertexId="0">
                <OriginPoint x="173" y="238" />
                <TerminusPoint x="173" y="113" />
                <Properties>
                    <KeyValuePair Key="Alias" isAbstract="false" String="true" />
                </Properties>
            </NextDef>
            <NextDef ID="7" OriginVertexId="5" TerminusVertexId="2">
                <OriginPoint x="99" y="176" />
                <TerminusPoint x="173" y="238" />
                <Properties />
            </NextDef>
        </GraphModelCastorData>
    </childrenGraphModel>
    <Properties>
        <KeyValuePair Key="Breakpoint" isAbstract="false" Boolean="false" />
        <KeyValuePair Key="OutcomeInit" isAbstract="false" String="" />
        <KeyValuePair Key="StateMachineVersion" isAbstract="false" String="0" />
        <KeyValuePair Key="Description" isAbstract="false" String="" />
        <KeyValuePair Key="Abortable" isAbstract="false" Boolean="false" />
        <KeyValuePair Key="RepeatWhen" isAbstract="false" Boolean="false" />
        <KeyValuePair Key="Viewpoint" isAbstract="false" String="" />
        <KeyValuePair Key="Show time" isAbstract="false" Boolean="true" />
        <KeyValuePair Key="Agent Name" isAbstract="false" String="" />
        <KeyValuePair Key="StateMachineName" isAbstract="false" String="CompositeActivity" />
        <KeyValuePair Key="Agent Role" isAbstract="false" String="" />
    </Properties>
</CompositeActivityDef>