<AllProperties>
    <PropertyDescription Name="Name"   IsClassIdentifier="false" IsMutable="true"/>
    <PropertyDescription Name="Type"   IsClassIdentifier="true"  IsMutable="false" DefaultValue="@{item}"/>
    @if{useState}
    <PropertyDescription Name="State"  IsClassIdentifier="true"  IsMutable="true"  DefaultValue="ACTIVE"/>
    @end{}
</AllProperties>