<!--

    This file is part of the CRISTAL-iSE Development Module.
    Copyright (c) 2001-2017 The CRISTAL Consortium. All rights reserved.

    This library is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as published
    by the Free Software Foundation; either version 3 of the License, or (at
    your option) any later version.

    This library is distributed in the hope that it will be useful, but WITHOUT
    ANY WARRANTY; with out even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
    License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this library; if not, write to the Free Software Foundation,
    Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.

    http://www.fsf.org/licensing/licenses/lgpl.html

-->
<CristalModule ns="dev" name="CristaliseDev">
    <Info>
        <Description>CRISTAL-iSE Development Items, such as resource factories and workflows. 
        Also includes a demonstrative DescriptionFactory</Description>
        <Version>${version}</Version>
        <KernelVersion>3.3</KernelVersion>
        <Dependency>CristalJooqDB</Dependency>
        <Dependency>CristalGui</Dependency>
    </Info>
    <ResourceURL>org/cristalise/dev/resources/</ResourceURL>
    <Config name="Module.dev.debug">true</Config>
    <Config name="OutcomeInit.Dev">org.cristalise.dev.DevObjectOutcomeInitiator</Config>
    <Config name="OverrideScriptLang.javascript">rhino</Config>
    <Config name="OverrideScriptLang.JavaScript">rhino</Config>
    <Config name="OverrideScriptLang.js">rhino</Config>
    <Config name="OverrideScriptLang.JS">rhino</Config>
    <Config name="OverrideScriptLang.ECMAScript">rhino</Config>
    <Config name="OverrideScriptLang.ecmascript">rhino</Config>
    <Imports>
        <Resource name="NewDevObjectDef" version="0" type="OD">boot/OD/NewDevObjectDef.xsd</Resource>
        <Resource name="ChooseWorkflow" version="0" type="OD">boot/OD/ChooseWorkflow.xsd</Resource>
        <Resource name="NewCollection" version="0" type="OD">boot/OD/NewCollection.xsd</Resource>
        <Resource name="LocalObjectDefCreator" version="0" type="SC">boot/SC/LocalObjectDefCreator.xml</Resource>
        <Activity name="CreateNewLocalObjectDef" version="0" resource="boot/EA/CreateNewLocalObjectDef.xml">
            <Schema name="NewDevObjectDef" version="0" />
            <Script name="LocalObjectDefCreator" version="0" />
        </Activity>
        <Activity name="EditPropertyDescription" version="0" resource="boot/EA/EditPropertyDescription.xml">
            <Schema name="PropertyDescription" version="0" />
        </Activity>
        <Resource name="InstantiateItem" version="0" type="SC">boot/SC/InstantiateItem.xml</Resource>
        <Activity name="CreateItem" version="0" resource="boot/EA/CreateItem.xml">
            <Schema name="NewDevObjectDef" version="0" />
            <Script name="InstantiateItem" version="0" />
        </Activity>
        <Resource name="SetWorkflow" version="0" type="SC">boot/SC/SetWorkflow.xml</Resource>
        <Activity name="SetInstanceWorkflow" version="0" resource="boot/EA/SetInstanceWorkflow.xml">
            <Schema name="ChooseWorkflow" version="0" />
            <Script name="SetWorkflow" version="0" />
        </Activity>
        <Resource name="CollDescCreator" version="0" type="SC">boot/SC/CollDescCreator.xml</Resource>
        <Activity name="DefineNewCollection" version="0" resource="boot/EA/DefineNewCollection.xml">
            <Schema name="NewCollection" version="0" />
            <Script name="CollDescCreator" version="0" />
        </Activity>
        <Workflow name="CompositeActivityFactory" version="0" resource="boot/CA/CompositeActivityFactory.xml">
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="ElementaryActivityFactory" version="0" resource="boot/CA/ElementaryActivityFactory.xml">
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="SchemaFactoryWf" version="0" resource="boot/CA/SchemaFactoryWf.xml">
            <Activity name="EditDefinition" version="0" />
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="ScriptFactoryWf" version="0" resource="boot/CA/ScriptFactoryWf.xml">
            <Activity name="EditDefinition" version="0" />
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="QueryFactoryWf" version="0" resource="boot/CA/QueryFactoryWf.xml">
            <Activity name="EditDefinition" version="0" />
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="StateMachineFactoryWf" version="0" resource="boot/CA/StateMachineFactoryWf.xml">
            <Activity name="CreateNewLocalObjectDef" version="0" />
        </Workflow>
        <Workflow name="ItemDescriptionWf" version="0" resource="boot/CA/ItemDescriptionWf.xml" id="b9415b57-3a4a-4b31-825a-d307d1280ac0">
            <Activity name="EditPropertyDescription" version="0" />
            <Activity name="SetInstanceWorkflow" version="0" />
            <Activity name="CreateItem" version="0" />
            <Activity name="DefineNewCollection" version="0" />
        </Workflow>
        <Workflow name="ItemDescriptionFactoryWf" version="0" resource="boot/CA/ItemDescriptionFactoryWf.xml">
            <Activity name="CreateItem" version="0" />
        </Workflow>
        <Workflow name="ReadOnlyItemDescriptionWf" version="0" resource="boot/CA/ReadOnlyItemDescriptionWf.xml">
            <Activity name="CreateItem" version="0" />
        </Workflow>
        <Workflow name="ModuleFactory" version="0" resource="boot/CA/ModuleFactory.xml">
            <Activity name="CreateItem" version="0" />
        </Workflow>
        <Item name="ScriptFactory" initialPath="/desc/dev" workflow="ScriptFactoryWf">
            <Property name="LocalObjectType">Script</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/SCProp.xml</Outcome>
            <Outcome viewname="last" schema="Script" version="0">boot/SC/New.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageScript">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
            <Dependency name="Include" isDescription="true" />
        </Item>
        <Item name="QueryFactory" initialPath="/desc/dev" workflow="QueryFactoryWf">
            <Property name="LocalObjectType">Query</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/queryProp.xml</Outcome>
            <Outcome viewname="last" schema="Query" version="0">boot/query/New.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageQuery">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
        </Item>
        <Item name="SchemaFactory" initialPath="/desc/dev" workflow="SchemaFactoryWf">
            <Property name="LocalObjectType">Schema</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/ODProp.xml</Outcome>
            <Outcome viewname="last" schema="Schema" version="0">boot/OD/New.xsd</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageSchema">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
        </Item>
        <Item name="StateMachineFactory" initialPath="/desc/dev" workflow="StateMachineFactoryWf">
            <Property name="LocalObjectType">StateMachine</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/SMProp.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageStateMachine">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
        </Item>
        <Item name="ElementaryActivityDefFactory" initialPath="/desc/dev" workflow="ElementaryActivityFactory">
            <Property name="LocalObjectType">ElementaryActivityDef</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/EAProp.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="desc/ActivityDesc/kernel/ManageElementaryActDef">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
            <Dependency name="Schema" isDescription="true">
                <DependencyMember itemPath="desc/dev/SchemaFactory" />
            </Dependency>
            <Dependency name="Script" isDescription="true">
                <DependencyMember itemPath="desc/dev/ScriptFactory" />
            </Dependency>
            <Dependency name="Query" isDescription="true">
                <DependencyMember itemPath="desc/dev/QueryFactory" />
            </Dependency>
            <Dependency name="StateMachine" isDescription="true">
                <DependencyMember itemPath="desc/dev/StateMachineFactory" />
            </Dependency>
        </Item>
        <Item name="ActivityDefType" initialPath="/desc/dev" workflow="NoWorkflow">
            <Property name="Type">Type</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/ACProp.xml</Outcome>
        </Item>
        <Item name="CompositeActivityDefFactory" initialPath="/desc/dev" workflow="CompositeActivityFactory">
            <Property name="LocalObjectType">CompositeActivityDef</Property>
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/CAProp.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageCompositeActDef">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
            <Dependency name="Activity" isDescription="true">
                <DependencyMember itemPath="desc/dev/ActivityDefType" />
            </Dependency>
            <Dependency name="Schema" isDescription="true">
                <DependencyMember itemPath="desc/dev/SchemaFactory" />
            </Dependency>
            <Dependency name="Script" isDescription="true">
                <DependencyMember itemPath="desc/dev/ScriptFactory" />
            </Dependency>
            <Dependency name="Query" isDescription="true">
                <DependencyMember itemPath="desc/dev/QueryFactory" />
            </Dependency>
            <Dependency name="StateMachine" isDescription="true">
                <DependencyMember itemPath="desc/dev/StateMachineFactory" />
            </Dependency>
        </Item>
        <Item name="DescriptionFactory" initialPath="/desc/dev" workflow="ItemDescriptionFactoryWf" id="57d87f6d-a83e-42b9-a7c2-800778d5e4d5">
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/DescProp.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="b9415b57-3a4a-4b31-825a-d307d1280ac0">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
            <Dependency name="workflow'" isDescription="true">
                <DependencyMember itemPath="/desc/dev/CompositeActivityDefFactory" />
                <CollectionProperties />
            </Dependency>
        </Item>
        <Item name="ModuleFactory" initialPath="/desc/dev" workflow="ModuleFactory" id="ac4a49d0-a156-48ec-ae1a-c54b616899f1">
            <Property name="Type">Factory</Property>
            <Outcome viewname="last" schema="PropertyDescription" version="0">boot/property/ModuleProp.xml</Outcome>
            <Dependency name="workflow" isDescription="false">
                <DependencyMember itemPath="/desc/ActivityDesc/kernel/ManageModule">
                    <MemberProperties>
                        <KeyValuePair Key="Version" String="0" />
                    </MemberProperties>
                </DependencyMember>
                <CollectionProperties />
            </Dependency>
            <Dependency name="contents" isDescription="true" />
        </Item>
        <Role jobList="false">User</Role>
        <Role jobList="false">User/SubUser</Role>
        <Agent name="dev" password="test">
            <Role>Admin</Role>
        </Agent>
        <Agent name="user" password="test">
            <Role>User/SubUser</Role>
            <Role>Admin</Role>
        </Agent>
    </Imports>
</CristalModule>
