<CristalModule ns="ldap" name="CristalLDAP">
	<Info>
		<Description>LDAP Lookup, Authenticator and NextKeyManager implementations.</Description>
		<Version>${version}</Version>
	</Info>
	<ResourceURL>org/cristalise/lookup/ldap/resources/</ResourceURL>
    <Config name="Authenticator">org.cristalise.lookup.ldap.LDAPAuthManager</Config>
	<Config name="Lookup">org.cristalise.lookup.ldap.LDAPLookup</Config>
	<Imports/>
</CristalModule>