@BaseScript(org.cristalise.dsl.module.ModuleScriptBase)
import groovy.transform.BaseScript
import groovy.transform.SourceURI

@SourceURI
URI scriptUri

setModuletDir scriptUri

setConfig  '@{rootDir}/conf/client.conf'
setConnect '@{rootDir}/conf/server.clc'

setResourceRoot '@{rootDir}/resources'

Module(ns: '@{moduleNs}', name: '@{moduleName}', version: @{moduleVersion}) {

    Info(description: '@{moduleName} CRISTAL-iSE module', version: '@{moduleVersion}'){
        // provide dependencies here. e.g. dependencies: ['dependency1', 'dependency1' ... ]
    }

    Url('@{resourcePackage}/resources/')

    Config(name: 'Module.debug', value: true)

    Roles {
        Role(name: 'Admin', jobList: false) {
            Permission('*')
        }
    }

    Agent(name: 'TestAdmin', password: 'test', folder:'/@{moduleNs}/Agents') {
        Roles {
            Role(name: 'Admin')
        }
    }

@foreach{file : moduleFiles} 
    include(moduleDir+'/@{file}')
@end{}
}
