<CristalModule ns="trigger" name="trigger">
    <Info>
        <Description>CRISTAL-iSE Trigger Module</Description>
        <Version>${version}</Version>
        <KernelVersion>3.3</KernelVersion>
    </Info>
    <Imports>
        <Resource name="Trigger" version="0" type="SM">boot/SM/Trigger.xml</Resource>

        <Role jobList="true">TriggerAdmin</Role>
        <Agent name="trigger" password="test">
            <Role>TriggerAdmin</Role>
        </Agent>
    </Imports>
</CristalModule>
