// Cristal Connect Local Centre example file
// Copy this and change things

// This name appears on the login box
Name=Example Cristal Server
Logo=http://path.to/image

// TCP server ports
ItemServer.name=localhost
ItemServer.iiop=1505
ItemServer.Proxy.port=1555
ItemServer.Console.port=8080

// LDAP Lookup config
LDAP.GlobalPath=SUFFIX
LDAP.RootPath=cn=cristal
LDAP.LocalPath=cn=dev
LDAP.port=389
LDAP.host=localhost
LDAP.user=USER
LDAP.password=PASS

// XMLDB config
XMLDB.URI=xmldb:exist://HOSTNAME:8080/exist/xmlrpc/db
XMLDB.root=dev
XMLDB.user=admin
XMLDB.password=PASS

// REST params
REST.URI=http://HOSTNAME:8081/
REST.allowWeakKey=false
REST.requireLoginCookie=true
REST.loginCookieLife=300
// default batch sizes. Each batch may be configured individually or fall back to the global size
REST.Job.DefaultBatchSize=50
REST.Event.DefaultBatchSize=50
REST.Path.DefaultBatchSize=75
REST.DefaultBatchSize=50

//Use only for debugging! Set it to true for server to return exception details about the error
REST.Debug.errorsWithBody=false