include     /etc/openldap/schema/core.schema
include     cristal-kernel/bin/openldap/cristal.schema
pidfile		/var/run/slapd/slapd.pid
argsfile	/var/run/slapd/slapd.args

moduleload back_bdb.la

database	bdb
suffix		"o=cern,c=ch"
rootdn		"cn=admin,o=cern,c=ch"
rootpw		cristal
index	objectClass	eq
index   cn eq,pres,sub
