@BaseScript(org.cristalise.dsl.module.ModuleScriptBase)
import groovy.transform.BaseScript
import groovy.transform.SourceURI

@SourceURI
URI scriptUri

setModuleDir scriptUri

setConfig  '@{rootDir}/conf/client.conf'
setConnect '@{rootDir}/conf/server.clc'

setResourceRoot @if{resourceRoot} '@{resourceRoot}' @else{} '@{rootDir}/resources' @end{}
@if{moduleXmlDir} setModuleXmlDir '@{moduleXmlDir}' @end{}

Module(ns: '@{moduleNs}', name: '@{moduleName}', version: @{version}) {

    Info(description: '@{moduleName} CRISTAL-iSE module', version: '@{version}'){
        Dependencies:['CristaliseDev']
    }

    Url('@{resourceURL}')

    Agent(name: '@{moduleNs}', version: @{version}, password: 'test', folder:'/@{moduleNs}/Agents') {
        Roles {
            Role(name: 'Admin')
        }
    }

@foreach{file : moduleFiles} 
    include(moduleDir+'/@{file}')
@end{}
}
