states = ['ACTIVE', 'INACTIVE']

def activateAct = Activity('State_Activate', @{version}) {
    Property('ItemProperty.State': states[0])
}

def deactivateAct = Activity('State_Deactivate', @{version}) {
    Property('ItemProperty.State': states[1])
}

def stateWf = Workflow('State_Manage', @{version}) {
    ElemActDef(activateAct)
    ElemActDef(deactivateAct)
}
